.navcontainer {
    display: flex;
    align-items: stretch;
}

.navlinkcontainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


.navLinkItem {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 0.5rem;
}


.navLinkItem:hover {
    color: white;
    background-color: #777;
    height: 100%;
}

.navLinkItem:active {
    color: aqua;
}

.navLinkCV {
    text-decoration: none;
    color: #212529;
    height: 100%;
    padding: 0.6rem;
    border-radius: 12px;
    background-color: #81E6D9;
    margin-left: 1em;

}

.navLinkCV:hover {
    color: #212529;
    height: 100%;
    cursor: pointer;
}

.navLinkCV:active, .navLinkCV:focus {
    color: #212529;
}


@media (max-width: 992px) {
    .navlinkcontainer {
        justify-content: flex-start;
    }
    .navLinkCV {
        margin-left: 0;
    }
}